<shared-loader-spinner></shared-loader-spinner>
<mat-card>
  <mat-card-header class="alt-theme">
    <mat-toolbar shToolbarModal color="primary">
      <h3>{{tituloDialog}}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}" (click)="onClose()">
        <mat-icon>close</mat-icon>
      </a>
    </mat-toolbar>
  </mat-card-header>
  <mat-dialog-content>
    <mat-card-content>
      <form [formGroup]="formUsuario" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill ngNativeValidate>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
              <mat-form-field fxFlexFill>
                <mat-label>{{langService.getLang(eModulo.Usuario, 'lbl-perfil' )}} : </mat-label>
                <mat-select formControlName="idPerfil" placeholder="Seleccione perfil: " (selectionChange)="onChangePerfil($event)" [disabled]="isEdicion">
                  <mat-option *ngFor="let perfil of listaPerfiles" [value]="perfil.idPerfil">
                    {{perfil.nombrePerfil}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <sh-busqueda-estudiante *ngIf="showSearchEstudianteComponent" (onSelectedUser)="onSelectedUser($event)"></sh-busqueda-estudiante>

              <div  fxLayout="row" fxLayoutAlign="center center" fxFlexFill  *ngIf="showSearchCarreraComponent || isEdicion">
                <mat-form-field fxFlex>
                  <mat-label>{{langService.getLang(eModulo.Usuario, 'lbl-carrera' )}} : </mat-label>
                  <mat-select formControlName="idCarrera" (selectionChange)="onChangeCarrera($event)" [disabled]="selectedUser.idPerfil == ePerfil.ADMINISTRADOR_DEL_SISTEMA || selectedUser.idPerfil == ePerfil.ENCARGADO_DAR" >
                    <mat-option *ngFor="let carrera of listaCarreras" [value]="carrera.idCarrera">
                      {{carrera.nombre}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="formUsuario.controls['idCarrera'].invalid">{{ langService.getLang(eModulo.Usuario,'lbl-carrera-invalida') }}</mat-error>
                </mat-form-field>
              </div>


            </div>

          </div>




          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill *ngIf="!showSearchEstudianteComponent">

            <mat-form-field fxFlex="34">
              <input matInput
                autocomplete="off"
                shUppercase
                matInput
                maxlength="100"
                placeholder="{{ langService.getLang(eModulo.Usuario, 'lbl-paterno') }}"
                formControlName="paterno">
              <mat-error *ngIf="formUsuario.controls['paterno'].errors?.required">{{langService.getLang(eModulo.Usuario,'lbl-paterno-invalido')}}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput
                autocomplete="off"
                shUppercase
                matInput
                maxlength="100"
                placeholder="{{ langService.getLang(eModulo.Usuario, 'lbl-materno') }}"
                formControlName="materno">
              <mat-error *ngIf="formUsuario.controls['materno'].errors?.required">{{langService.getLang(eModulo.Usuario,'lbl-materno-invalido')}}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="34">
              <input matInput
                autocomplete="off"
                shUppercase
                matInput
                minlength="3"
                maxlength="100"
                required
                placeholder="{{ langService.getLang(eModulo.Usuario, 'lbl-nombres') }}"
                formControlName="nombres">
              <mat-error *ngIf="formUsuario.controls['nombres'].errors?.required">{{langService.getLang(eModulo.Usuario,'lbl-nombres-invalido')}}</mat-error>
            </mat-form-field>

          </div>



          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <mat-form-field fxFlex="49">
              <input matInput
                autocomplete="off"
                type="text"
                matInput
                minlength="5"
                maxlength="50"
                placeholder="{{ langService.getLang(eModulo.Usuario, 'lbl-nick-name') }}"
                formControlName="nickName">
              <mat-error *ngIf="formUsuario.controls['nickName'].errors?.required">{{langService.getLang(eModulo.Usuario,'lbl-nick-name-invalido')}}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex="49">
              <input matInput
                autocomplete="off"
                type="password"
                matInput
                minlength="5"
                maxlength="50"
                placeholder="{{ langService.getLang(eModulo.Usuario, 'lbl-password') }}"
                formControlName="password">
              <mat-error *ngIf="formUsuario.controls['password'].errors?.required">{{langService.getLang(eModulo.Usuario,'lbl-password-invalido')}}</mat-error>
            </mat-form-field>

          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <mat-form-field fxFlex="49">
              <input matInput
                autocomplete="off"
                type="tel"
                shUppercase
                matInput
                minlength="5"
                maxlength="10"
                placeholder="{{ langService.getLang(eModulo.Usuario, 'lbl-celular') }}"
                formControlName="celular">
              <mat-error *ngIf="formUsuario.controls['celular'].errors?.required">{{langService.getLang(eModulo.Usuario,'lbl-celular-invalido')}}</mat-error>
            </mat-form-field>


            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
                <span>Estado: &nbsp;&nbsp;&nbsp; </span>
                <mat-slide-toggle formControlName="estado" [checked]="activado" (change)="onChangeSlideToggleValue($event)"></mat-slide-toggle>
            </div>

            <!--  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
               <mat-form-field fxFlex>
                 <mat-label>{{langService.getLang(eModulo.Usuario, 'lbl-perfil' )}} : </mat-label>
                 <mat-select formControlName="idPerfil" placeholder="Seleccione perfil: " (selectionChange)="onChangePerfil($event)">
                   <mat-option *ngFor="let perfil of listaPerfiles" [value]="perfil.idPerfil">
                     {{perfil.nombrePerfil}}
                   </mat-option>
                 </mat-select>
               </mat-form-field>
             </div>
 -->
          </div>

          {{formUsuario.status}}

          <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="50"  *ngIf="!showSearchEstudianteComponent && !showSearchCarreraComponent && selectedUser">
              <strong>Carrera : </strong>&nbsp;{{selectedUser.carrera}}
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
              <span>Estado: </span>
              <mat-slide-toggle [formControl]="this.formUsuario.get('estado')" [checked]="activado" (change)="onChangeSlideToggleValue($event)"></mat-slide-toggle>
            </div>
          </div> -->



          <!-- <sh-busqueda-estudiante *ngIf="showSearchEstudianteComponent" (onSelectedUser)="onSelectedUser($event)"></sh-busqueda-estudiante> -->



        </div>
      </form>

    </mat-card-content>
  </mat-dialog-content>

  <mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
    <button fxFlex mat-raised-button color="accent" (click)="onSaveUsuario()" [disabled]="!this.formUsuario.valid || !this.formUsuario.dirty || contextService.isLoading">{{langService.getLang(eModulo.Base, 'lbl-guardar')}}</button>
    <button fxFlex mat-raised-button color="warn" (click)="onClose()">{{langService.getLang(eModulo.Base, 'btnCancel')}}</button>
  </mat-dialog-actions>
</mat-card>
