<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
  <img style="max-width: 350px;" mat-card-image src="https://imagenes.elpais.com/resizer/Y6ooftjQIqJ38yuds-ss-PDsMxY=/768x0/cloudfront-eu-central-1.images.arcpublishing.com/prisa/ICWTJEOAHJBRXAPAO4ACVRSTQ4.jpg" alt="Foto del estudiante">

  <div fxLayout="row" fxLayoutAlign="center center" >
    <div fxLayout="column" fxLayoutAlign="center end" fxLayoutAlign.lt-sm="center start">
      <span><strong>RU: </strong></span>
      <span><strong>CI: </strong> </span>
      <span><strong>APS Y NOMBRES: </strong></span>
      <span><strong>CARRERA: </strong></span>
      <span><strong>FACULTAD: </strong></span>
      <!-- <span><strong>TRAMITE:</strong></span>
      <span><strong>FECHA: </strong></span> -->
  </div>

  <div fxLayout="column" fxLayoutAlign="center start" >
    <span>&nbsp;{{datoEstudiante.ru}} </span>
    <span>&nbsp;{{datoEstudiante.ci}}</span>
    <span>&nbsp;{{datoEstudiante.nombreCompleto}} </span>
    <span>&nbsp;{{datoEstudiante.carrera}}</span>
    <span>&nbsp;{{datoEstudiante.facultad}}</span>
    <!-- <span>&nbsp;{{datoEstudiante.tipoTramite}}</span>
    <span>&nbsp;{{datoEstudiante.fechaSolicitud | date : 'dd/mm/yyyy'}}</span> -->
  </div>
  </div>
</div>
