<mat-card>
    <mat-card-header class="alt-theme">
      <mat-toolbar color="primary">
        <a mat-button (click)="openSideNav=!openSideNav">
          <mat-icon>menu</mat-icon>
        </a>
        <h3>{{ langService.getLang(eModulo.Base, 'lbl-menu-principal') }}</h3>
      </mat-toolbar>
    </mat-card-header>

    <mat-card-content>

       <app-container-bandeja [isOpenSidenav]="openSideNav"></app-container-bandeja>
      <!-- <sh-documento-adjunto></sh-documento-adjunto> -->
      <!-- <app-adjuntar-documento></app-adjuntar-documento> -->
      <!--<app-bandeja-hojas-de-ruta></app-bandeja-hojas-de-ruta>-->

    <!--<busqueda-avanzada></busqueda-avanzada>-->

       <!-- <app-container-bandeja [isOpenSidenav]="openSideNav"></app-container-bandeja> -->
      <!--<sh-autocomplete
        [placeHolder]="'Seleccione items'"
        [listaCompleta]="listaCompleta"
        (listaSeleccionadosEmiter)="getListaSeleccionada($event)"
      >
      </sh-autocomplete>-->

      <!-- <app-bandeja-cites></app-bandeja-cites> -->

    </mat-card-content>
</mat-card>



