<mat-card>
    <mat-card-header class="alt-theme">
      <mat-toolbar color="primary">
        <!-- <a mat-button (click)="openSideNav=!openSideNav">
          <mat-icon>menu</mat-icon>
        </a> -->
        <h3>{{ langService.getLang(eModulo.Base, 'lbl-menu-principal') }}</h3>
      </mat-toolbar>
    </mat-card-header>

    <mat-card-content>

      <!-- <app-container-bandeja [isOpenSidenav]="openSideNav"></app-container-bandeja> -->

      <!--COMPONENTES INTEGRADOS CON EL BACKEND-->
      <!-- <app-bandeja-tramites></app-bandeja-tramites> -->
      <!-- <app-bandeja-anulacion></app-bandeja-anulacion> -->
      <!-- <app-bandeja-cambio-carrera></app-bandeja-cambio-carrera> -->
      <!-- <app-bandeja-suspencion></app-bandeja-suspencion> -->
      <!-- <app-bandeja-readmision></app-bandeja-readmision> -->
      <!-- <app-bandeja-traspaso-universidad></app-bandeja-traspaso-universidad> -->

      <!-- MODULO DAR-->
      <!-- <app-bandeja-dar></app-bandeja-dar> -->
      <!-- <app-detalle-tramite></app-detalle-tramite> --> <!-- TODO: falta definir los flujos dependiendo del tipo de tramite en los cuatro botones de este componente -->
      <app-bandeja-universidades></app-bandeja-universidades>





      <!-- <app-bandeja-tramites></app-bandeja-tramites>
      <app-bandeja-anulacion></app-bandeja-anulacion>
      <app-bandeja-cambio-carrera></app-bandeja-cambio-carrera>

      <app-bandeja-suspencion></app-bandeja-suspencion>
      <app-bandeja-readmision></app-bandeja-readmision>
      <app-bandeja-traspaso-universidad></app-bandeja-traspaso-universidad> -->

      <!-- <app-bandeja-dar></app-bandeja-dar>
      <app-detalle-tramite></app-detalle-tramite>
      <app-bandeja-universidades></app-bandeja-universidades>
      <app-universidad></app-universidad> -->



    </mat-card-content>
</mat-card>



