<mat-card-content>

  <form [formGroup]="formSeguimientoDetalle" fxFlex>

    <div fxLayout="row" fxLayoutGap="30px">
      <mat-icon style="font-size: 60px; margin-top: 0px;">person</mat-icon>
    </div>
    <br>
    <br>

    <div fxLayout="row" fxLayoutGap="30px">
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-remitente')}}</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.remitente}}</mat-label>
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-cargo')}} :</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.cargo}}</mat-label>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="30px">
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-estado')}} :</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.estado_entrada}}</mat-label>
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-fecha')}} :</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.fecha_entrada | date : 'dd/MM/yyyy hh:mm'}}</mat-label>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="30px">
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-estado')}} :</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.estado_proceso}}</mat-label>
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-fecha')}} :</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.fecha_proceso | date : 'dd/MM/yyyy hh:mm'}}</mat-label>
    </div>
    <br>
    <div fxLayout="row" fxLayoutGap="30px">
      <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-asunto')}} :</mat-label>
      <mat-label fxFlex>{{this.detalleSeguimiento.asunto}}</mat-label>
    </div>


    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <strong>Datos de los participantes</strong>
        </mat-expansion-panel-header>

        <div *ngFor="let objParticipante of listaParticipantes">
          <tr>
            <td class="alinear-columna-derecha"><strong> &nbsp;Nombres :</strong></td>
            <td>
              <div>
                {{objParticipante.participante}}
                <div class="columna-cargo-vista-previa">
                  {{objParticipante.cargo}}
                </div>
                <br/>
              </div>
            </td>
            <td>
              <tr>
                <td class="alinear-columna-derecha"><strong> &nbsp;Fecha :</strong></td>
                <td>
                  {{objParticipante.fecha_aceptado |date : 'dd/MM/yyyy hh:mm'}}
                </td>
              </tr>
              <tr>
                <td class="alinear-columna-derecha"><strong> &nbsp;Concluido :</strong></td>
                <td>
                  {{objParticipante.concluido}}
                </td>
              </tr>
            </td>
          </tr>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <br/>

    <mat-accordion *ngIf="listaDocumentosAdjuntos?.length > 0">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <strong>Documentos adjuntos</strong>
        </mat-expansion-panel-header>

        <sh-lista-docs-adj-subidos  [ocultarToolbar]="true" [listaDocumentosAdjuntos]="listaDocumentosAdjuntos" ></sh-lista-docs-adj-subidos>

      </mat-expansion-panel>
    </mat-accordion>


  </form>

</mat-card-content>
