
<mat-dialog-content>    
    <form [formGroup]="formSeguimientoDetalle"> 
        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field shDisabled appearance="outline" fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-remitente')}}</mat-label>
                <input matInput formControlName="remitente" />
            </mat-form-field>            
        </div>

        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field shDisabled appearance="outline" fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-estado')}}</mat-label>
                <input matInput formControlName="estadoInicio" />
            </mat-form-field>            
            <mat-form-field shDisabled appearance="outline" fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-fecha')}}</mat-label>
                <input matInput formControlName="fechaInicio" />
            </mat-form-field>  
        </div>

        <div fxLayout="row" fxLayoutGap="30px">
            <mat-form-field shDisabled appearance="outline" fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-estado')}}</mat-label>
                <input matInput formControlName="estadoFin" />
            </mat-form-field>            
            <mat-form-field shDisabled appearance="outline" fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-seguimiento-detalle-fecha')}}</mat-label>
                <input matInput formControlName="fechaFin" />
            </mat-form-field>  
        </div>


    </form>    
</mat-dialog-content>


