

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
      <h3>{{ langService.getLang(eModulo.Estudiante, 'tit-nueva-solicitud-suspencion') }}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}" (click)="onClose()">
          <mat-icon>close</mat-icon>
      </a>
  </mat-toolbar>
</mat-card-header>

<mat-dialog-content>
<mat-card-content>

  <shared-loader-spinner></shared-loader-spinner>

  <mat-horizontal-stepper labelPosition="bottom" #stepper *ngIf="datoEstudiante">

    <mat-step>
      <ng-template matStepLabel>{{langService.getLang(eModulo.Estudiante, 'lbl-datos-estudiante' )}}</ng-template>

      <sh-datos-estudiante [datoEstudiante]="datoEstudiante"></sh-datos-estudiante>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlexFill>
        <button mat-raised-button color="primary" matStepperNext>{{langService.getLang(eModulo.Cites, 'lbl-siguiente' )}}</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="formSuspencion">
      <ng-template matStepLabel>{{langService.getLang(eModulo.Estudiante, 'lbl-motivo-gestiones' )}}</ng-template>

      <form [formGroup]="formSuspencion" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>

        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFill>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <input type="number" style="text-align: center;" min="1" max="50" minlength="1" maxlength="2" autocomplete="off" matInput required
                  formControlName="tiempoSuspencion">
                  <mat-label>&nbsp; {{langService.getLang(eModulo.Estudiante,'lbl-tiempo-solicitado')}} </mat-label>
                <mat-error *ngIf="formSuspencion.controls['tiempoSuspencion'].invalid">{{langService.getLang(eModulo.Estudiante,'lbl-tiempo-suspencion-solicitado-error') }}</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-select formControlName="idMotivoSuspencion" (selectionChange)="onMotivoSuspencionChange($event)" placeholder="{{langService.getLang(eModulo.Estudiante,'lbl-motivo-suspencion')}}">
                   <mat-option *ngFor="let motivo of listaTipoSuspenciones" [value]="motivo.idMotivo">
                     {{motivo.descripcionMotivo}}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="formSuspencion.controls['idMotivoSuspencion'].invalid">{{langService.getLang(eModulo.HojaDeRuta,'lbl-motivo-suspencion-error') }}</mat-error>
              </mat-form-field>
            </div>
          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <mat-form-field fxFlex>
              <mat-label>Breve descripcion :</mat-label>
              <input type="text" min="0" max="250" minlength="1" maxlength="250" autocomplete="off" matInput required shUppercase
                placeholder="{{langService.getLang(eModulo.Estudiante,'lbl-descripcion-suspencion')}}" formControlName="descripcion">
              <mat-error *ngIf="formSuspencion.controls['descripcion'].invalid">{{langService.getLang(eModulo.HojaDeRuta,'lbl-descripcion-suspencion-error') }}</mat-error>
            </mat-form-field>
          </div>




          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlexFill>
            <button mat-raised-button color="primary" disabled="{{formSuspencion.invalid || contextService.isLoading}}" matStepperPrevious>{{langService.getLang(eModulo.Cites, 'lbl-atras' )}}</button>
            <button mat-raised-button color="primary" disabled="{{formSuspencion.invalid || contextService.isLoading}}" matStepperNext>{{langService.getLang(eModulo.Cites, 'lbl-siguiente' )}}</button>
          </div>
        </div>

      </form>
    </mat-step>


    <!-- Finalizacion -->
    <mat-step>
      <ng-template matStepLabel>{{langService.getLang(eModulo.Cites, 'lbl-confirmar-creacion-cite' )}}</ng-template>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

        <table>
          <tr>
            <td style="text-align: end;"><span><strong>Carrera : </strong></span></td>
            <td><span>&nbsp;{{this.datoEstudiante.carrera}}</span></td>
          </tr>

          <tr>
            <td style="text-align: end;"><span><strong>{{langService.getLang(eModulo.Estudiante,'lbl-tiempo-solicitado')}} : </strong></span></td>
            <td><span>&nbsp;{{this.formSuspencion.controls['tiempoSuspencion'].value}}</span></td>
          </tr>

          <tr>
            <td style="text-align: end;"><span><strong>{{langService.getLang(eModulo.Estudiante,'lbl-motivo-suspencion')}} :</strong></span></td>
            <td><span>&nbsp;{{this.motivoSelected.descripcionMotivo}}</span></td>
          </tr>

          <tr>
            <td style="text-align: end;"><span><strong>Breve descripcion : </strong></span></td>
            <td><span>&nbsp;{{formSuspencion.controls['descripcion'].value}}</span></td>
          </tr>

        </table>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <span style="font-size: 15px; text-align: center">&nbsp;</span>
        <br>
        <br>
        <br>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlexFill>
        <button mat-raised-button color="primary" matStepperPrevious>{{langService.getLang(eModulo.Cites, 'lbl-atras' )}}</button>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex >
          <button mat-raised-button color="accent" (click)="onFinalizarSolicitud()">{{langService.getLang(eModulo.Base, 'lbl-finalizar' )}}</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>



</mat-card-content>
</mat-dialog-content>
</mat-card>
