<div class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
    <h3>{{langService.getLang(eModulo.HojaDeRuta, 'tit-seguimiento-detalle-seguimiento') }}</h3>
    <span class="flex-spacer"></span>

    <button mat-button mat-dialog-close matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
      <mat-icon>close</mat-icon>
    </button>

  </mat-toolbar>
</div>
<mat-dialog-content>
    <form [formGroup]="formSeguimiento">
      <div fxLayout="row" fxLayoutGap="30px">
        <td class="alinear-columna-centro"><strong><h3>Hoja de ruta : {{numeroHojaRuta}} &nbsp; &nbsp; {{referencia}} </h3></strong></td>

      </div>

      <div *ngFor="let detalleSeguimientoItem of listaAux; let indice=index">
        <fieldset-detalle fxLayout="row" fxFlex="100">
          <legend><strong>{{indice+1}}</strong></legend>
          <detalle-seguimiento [detalleSeguimiento]="detalleSeguimientoItem"></detalle-seguimiento>
        </fieldset-detalle>
      </div>
    </form>

</mat-dialog-content>
