<!-- <shared-loader-spinner></shared-loader-spinner> -->

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="tipoTramiteDes">
      <mat-header-cell *matHeaderCellDef fxFlex="7" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="7"> {{element.tipoTramiteDes}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreRemitente">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-nombre-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.nombreRemitente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcionDoc">
      <mat-header-cell *matHeaderCellDef fxFlex="8" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-documento') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="8"> {{element.descripcionDoc}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroHojaRuta">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-numero-hoja-ruta') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.numeroHojaRuta}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreDestinatario" >
      <mat-header-cell *matHeaderCellDef fxFlex="20"  mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatarios') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="20" > {{element.nombreDestinatario}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="referencia" >
      <mat-header-cell *matHeaderCellDef fxFlex="15"  mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-referencia') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15" > {{element.referencia}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fechaBandeja">
      <mat-header-cell *matHeaderCellDef fxFlex="6" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-fecha-bandeja') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="6"> {{element.fechaBandeja | date: 'dd-MMM-yyyy' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado" >
      <mat-header-cell *matHeaderCellDef fxFlex="10"  mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-estado') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10" >


        <div *ngIf="showMouseOverActions && element.isRowMouseOver" fxLayout="row" fxLayoutAlign="start center">

          <div *ngFor="let estado of mouseOverModel.estados">

            <a *ngFor="let accion of estado.acciones" mat-icon-button matTooltip="{{accion.tooltipText}}" (click)="accion.onClick(element, this.dialog)" >
              <mat-icon> {{accion.icono}} </mat-icon>
            </a>

          </div>
        </div>

        <div *ngIf="!element.isRowMouseOver">
          {{element.estado}}
        </div>

      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      shRowHover
      [ngClass]="{'row-action': idSeleccionado === row.idHojaRuta}"
      [@fadeInAnim]="true"
      *matRowDef="let row; columns: displayedColumns;"
      (mouseover)="onMouseOver(row)"
      (mouseleave)="onMouseLeave(row)"
      ></mat-row>

  </mat-table>
  <shared-table-empty [datasource]="dataSource"></shared-table-empty>
  <mat-paginator #paginator [pageSize]="config.paginatorSize" [pageSizeOptions]="config.paginatorOptions" [showFirstLastButtons]="true"></mat-paginator>
