  <mat-card>
    <mat-card-header class="alt-theme">
      <mat-toolbar shToolbarModal color="primary">
      <h3>{{ langService.getLang(eModulo.Estudiante, 'tit-nueva-solicitud-anulacion') }}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}" (click)="onClose()">
          <mat-icon>close</mat-icon>
        </a>
    </mat-toolbar>
    </mat-card-header>
    <mat-card-content>

      <sh-datos-estudiante [datoEstudiante]="datosEstudiante"></sh-datos-estudiante>


      <form [formGroup]="formAnulacion" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
          <mat-form-field fxFlexFill>
            <input type="text" required matInput min="5" max="200" minlength="5" maxlength="200" autocomplete="off" shUppercase
              placeholder="Motivo de anulación" formControlName="motivo">
            <mat-error *ngIf="formAnulacion.controls['motivo'].invalid">El motivo de la anulacion es obligatoria</mat-error>
          </mat-form-field>
        </div>
      </form>



  </mat-card-content>
  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
      <button mat-raised-button color="accent" fxFlex (click)="onImprimirFormulario()" [disabled]="!formAnulacion.valid || contextService.isLoading" >{{langService.getLang(eModulo.Base, 'lbl-imprimir')}}</button>
      <button mat-raised-button color="warn" fxFlex (click)="onClose()" [disabled]="this.contextService.isLoading" >{{langService.getLang(eModulo.Base, 'btnCancel')}}</button>
    </div>
  </mat-card-actions>
</mat-card>




