<mat-card-header class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
    <h3>{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-busqueda-hoja-ruta') }}</h3>
    <!-- <span class="flex-spacer"></span>
    <a (click)="onClose()" mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
      <mat-icon>close</mat-icon>
    </a> -->
  </mat-toolbar>
</mat-card-header>

<mat-dialog-content>
  <mat-card>
    <br>
    <div fxFlexFill>
      <form [formGroup]="formBusquedaAvanzada" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <input
                  matInput
                  shUppercase
                  maxlength="20"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-hoja-de-ruta')}}"
                  formControlName="hojaRuta">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <input
                  matInput
                  shUppercase
                  maxlength="20"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-numero-cite')}}"
                  formControlName="numeroCite">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.Cites, 'lbl-tipo-documento' )}} : </mat-label>
                <mat-select formControlName="idTipoDocumento">
                  <mat-option *ngFor="let tipoDocumento of listaTipoDocumento" [value]="tipoDocumento.idDocumentoTipo">
                    {{tipoDocumento.descripcionDoc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <input
                  matInput
                  shUppercase
                  maxlength="100"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-referencia')}}"
                  formControlName="referencia">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatario' )"
                [listaCompleta]="listaUsuarios"
                [cantidadPermitida]="1"
                (listaSeleccionadosEmiter)="getListaSeleccionadaDestinatarios($event)">
              </sh-autocomplete>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente' )"
                [listaCompleta]="listaUsuarios"
                [cantidadPermitida]="1"
                (listaSeleccionadosEmiter)="getListaSeleccionadaRemitentes($event)">
              </sh-autocomplete>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

             <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
               &nbsp;
               <!-- <mat-form-field fxFlexFill>
                 <mat-select placeholder="{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-bucar-en') }}"
                   formControlName="idTipoBandeja">
                   <mat-option *ngFor="let tipoBandeja of listaTipobandeja" [value]="tipoBandeja">
                     {{tipoBandeja}}
                   </mat-option>
                 </mat-select>
               </mat-form-field> -->
             </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="50">
              <div formGroupName="rangoFechaGroup" fxFill>
                <mat-form-field fxFill>
                  <mat-label>Rango :</mat-label>
                  <mat-date-range-input [min]="fechaLimiteInferior" [max]="fechaLimiteSuperior"  [rangePicker]="picker" fxFill>
                    <input matStartDate formControlName="fechaInicial" placeholder="Fecha inicial">
                    <input matEndDate formControlName="fechaFinal" placeholder="Fecha final">
                  </mat-date-range-input>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <!-- <p>Selected range: {{formBusquedaAvanzada.controls['rangoFechaGroup'].value | json}}</p> -->
                </mat-form-field>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
            </div>

          </div>
        </div>
      </form>
    </div>
  </mat-card>


  <mat-card>

    <mat-divider></mat-divider>

  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="hojaRuta">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-hoja-ruta') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.hojaRuta}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tipoRemitente">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.tipoRemitente}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="remitente">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.remitente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoDocumento">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-documento') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.tipoDocumento}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="numeroCite">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-numero-cite') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.numeroCite}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="destinatario">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-nombre-destinatario') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.destinatario}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="referencia">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-referencia') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.referencia}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-fecha-registro') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.fecha | date: 'dd-MM-yyyy hh:mm' }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef fxFlex="8" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-estado') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="8"> {{element.estado}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row shRowHover [ngClass]="{'row-action': idSeleccionado === row.idHojaRuta}" [@fadeInAnim]="true" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="config.paginatorSize" [pageSizeOptions]="config.paginatorOptions" [showFirstLastButtons]="true"></mat-paginator>

  <shared-table-empty [datasource]="dataSource"></shared-table-empty>

</mat-card>

</mat-dialog-content>

<mat-dialog-actions>
  <button fxFlex mat-raised-button color="accent" (click)="onBuscar()">{{langService.getLang(eModulo.HojaDeRuta, 'Btn-Buscar')}}</button>
  <button fxFlex mat-raised-button color="warn" (click)="onLimpiarFormulario()">{{langService.getLang(eModulo.HojaDeRuta, 'Btn-Limpiar')}}</button>
</mat-dialog-actions>
