<mat-card-header class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
    <h3>{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-busqueda-hoja-ruta') }}</h3>
    <span class="flex-spacer"></span>
    <a (click)="onClose()" mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
      <mat-icon>close</mat-icon>
    </a>
  </mat-toolbar>
</mat-card-header>

<mat-dialog-content>
  <mat-card>
    <br>
    <div fxFlexFill>
      <form [formGroup]="formBusquedaAvanzada" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>
        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <input matInput shUppercase maxlength="20"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-hoja-de-ruta')}}"
                  formControlName="numeroHojaRuta">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <input matInput shUppercase maxlength="20"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-numero-cite')}}"
                  formControlName="numeroCite">
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.Cites, 'lbl-tipo-documento' )}} : </mat-label>
                <mat-select formControlName="tipoDocumento" (selectionChange)="onTipoDocumentoChange($event)">
                  <mat-option *ngFor="let tipoDocumento of listaTipoDocumento" [value]="tipoDocumento.idDocumentoTipo">
                    {{tipoDocumento.descripcionDoc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>

            </div>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlex>
                <input matInput shUppercase maxlength="100"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-referencia')}}"
                  formControlName="referencia">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatario' )"
                [listaCompleta]="listaUsuarios" (listaSeleccionadosEmiter)="getListaSeleccionadaDestinatarios($event)">
              </sh-autocomplete>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente' )"
                [listaCompleta]="listaUsuarios" (listaSeleccionadosEmiter)="getListaSeleccionadaRemitentes($event)">
              </sh-autocomplete>
            </div>
          </div>
          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
              <mat-form-field fxFlexFill>
                <mat-select placeholder="{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-bucar-en') }}"
                  formControlName="idTipoBandeja" (selectionChange)="getTipoBandeja($event)">
                  <mat-option *ngFor="let tipoBandeja of listaTipoBandeja" [value]="tipoBandeja.idTipoBandeja">
                    {{tipoBandeja.descripcionTipoBandeja}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="33">
            </div>

          </div>
        </div>
      </form>
    </div>
  </mat-card>
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="numeroHojaRuta">
      <mat-header-cell *matHeaderCellDef fxFlex="12" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-hoja-ruta') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12"> {{element.numeroHojaRuta}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tipoRemitente">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.tipoRemitente}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombreRemitente">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.nombreRemitente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoDocumento">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-documento') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.tipoDocumento}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="numeroCite">
      <mat-header-cell *matHeaderCellDef fxFlex="12" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-numero-cite') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12"> {{element.numeroCite}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nombreDestinatario">
      <mat-header-cell *matHeaderCellDef fxFlex="12" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-nombre-destinatario') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="12"> {{element.nombreDestinatario}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="referencia">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-referencia') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.referencia}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="estado">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-estado') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.estado}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row shRowHover [ngClass]="{'row-action': idSeleccionado === row.idHojaRutaModel}" [@fadeInAnim]="true" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator #paginator [pageSize]="config.paginatorSize" [pageSizeOptions]="config.paginatorOptions" [showFirstLastButtons]="true"></mat-paginator>

</mat-dialog-content>

<mat-dialog-actions>
  <!-- Botones-->
  <!--<button fxFlex mat-raised-button color="accent" (click)="busquedaCiudadano()" [disabled]="!formBusquedaAvanzada.valid">{{langService.getLang(eModulo.HojaDeRuta, 'Btn-Buscar')}}</button>-->
  <button fxFlex mat-raised-button color="accent" (click)="busquedaCiudadano()">{{langService.getLang(eModulo.HojaDeRuta, 'Btn-Buscar')}}</button>
  <button fxFlex mat-raised-button color="warn" (click)="limpiarFormulario()">{{langService.getLang(eModulo.HojaDeRuta, 'Btn-Limpiar')}}</button>
</mat-dialog-actions>
