<shared-loader-spinner></shared-loader-spinner>

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
      <h3>{{ langService.getLang(eModulo.Cites, 'lbl-crear-nuevo-cite') }}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}" (click)="onClose()">
          <mat-icon>close</mat-icon>
      </a>
  </mat-toolbar>
</mat-card-header>

<mat-dialog-content>
<mat-card-content>
  <!-- <shared-loader-spinner></shared-loader-spinner> -->

  <mat-horizontal-stepper labelPosition="bottom" #stepper >

    <!-- Creacion del cite -->
    <mat-step [stepControl]="formCrearCite">
      <ng-template matStepLabel>{{langService.getLang(eModulo.Cites, 'lbl-crear-nuevo-cite' )}}</ng-template>

      <form [formGroup]="formCrearCite" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>

        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.Cites, 'lbl-tipo-tramite' )}} : </mat-label>
                <mat-select formControlName="tipoTramite" (selectionChange)="onTipoTramiteChange($event)" >
                  <mat-option *ngFor="let tipoTramite of listaTipotramite" [value]="tipoTramite.idTipoTramite">
                    {{tipoTramite.descripcionTramite}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formCrearCite.controls['tipoTramite'].invalid">{{ langService.getLang(eModulo.Cites,'lbl-error-tipo-tramite') }}</mat-error>
              </mat-form-field>
            </div>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.Cites, 'lbl-tipo-documento' )}} : </mat-label>
                <mat-select formControlName="tipoDocumento" (selectionChange)="onTipoDocumentoChange($event)">
                  <mat-option *ngFor="let tipoDocumento of listaTipoDocumento" [value]="tipoDocumento.idDocumentoEmite">
                    {{tipoDocumento.descripcionDoc}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formCrearCite.controls['tipoDocumento'].invalid">{{ langService.getLang(eModulo.Cites,'lbl-error-tipo-documento') }}</mat-error>
              </mat-form-field>
            </div>


          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatario' )"
                [matLabelError]="langService.getLang(eModulo.HojaDeRuta, 'lbl-error-destinatario' )"
                [isRequired]="true"
                [listaCompleta]="listaUsuarios"
                (isFormularioInvalid) = "getEstatusFormDestinatario($event)"
                (listaSeleccionadosEmiter)="getListaSeleccionadaDestinatarios($event)">
              </sh-autocomplete>
              <!-- <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatario' )}} : </mat-label>
                <mat-select formControlName="listaDestinatarios" required placeholder="Seleccione">
                  <mat-option *ngFor="let destinatario of listaDestinatarios" [value]="destinatario.idDestinatario">
                    {{destinatario.descripcionDestinatario}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formCrearCite.controls['listaDestinatarios'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-destinatario') }}</mat-error>
              </mat-form-field> -->
            </div>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-via' )"
                [matLabelError]="langService.getLang(eModulo.HojaDeRuta, 'lbl-error-via' )"
                [isRequired]="false"
                [listaCompleta]="listaUsuarios"
                (listaSeleccionadosEmiter)="getListaSeleccionadaVias($event)">
              </sh-autocomplete>
              <!-- <mat-form-field fxFlex>
                  <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-via' )}} :</mat-label>
                  <mat-select>
                  <mat-option *ngFor="let via of listaVias" [value]="via.idRemitente">
                    {{via.descripcionRemitente}}
                  </mat-option>
                </mat-select> -->
                <!-- <mat-error *ngIf="formCrearCite.controls['listaVias'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-via') }}</mat-error> -->
              <!-- </mat-form-field> -->
            </div>

          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlexFill>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <sh-autocomplete *ngIf="listaUsuarios?.length > 0"
                [placeHolder]="langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente' )"
                [matLabelError]="langService.getLang(eModulo.HojaDeRuta, 'lbl-error-remitente' )"
                [isRequired]="true"
                [listaCompleta]="listaUsuarios"
                (isFormularioInvalid) = "getEstatusFormRemitente($event)"
                (listaSeleccionadosEmiter)="getListaSeleccionadaRemitentes($event)">
              </sh-autocomplete>
              <!-- <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente' )}} :</mat-label>
                <mat-select formControlName="listaRemitentes" required placeholder="Seleccione">
                  <mat-option *ngFor="let via of listaVias" [value]="via.idRemitente">
                    {{via.descripcionRemitente}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formCrearCite.controls['listaRemitentes'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-remitente') }}</mat-error>
              </mat-form-field> -->
            </div>

            <mat-form-field fxFlex>
              <input
                matInput
                required
                shUppercase
                maxlength="100"
                placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-referencia')}}"
                formControlName="referencia">
              <mat-error *ngIf="formCrearCite.controls['referencia'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-referencia') }}</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlexFill>
            <button mat-raised-button color="primary" disabled="{{formCrearCite.invalid || contextService.isLoading}}" matStepperNext>{{langService.getLang(eModulo.Cites, 'lbl-siguiente' )}}</button>
          </div>
        </div> <!-- Contenedor principal -->

      </form>
    </mat-step>

    <!-- Vista previa del cite-->
    <mat-step [stepControl]="formCrearCite">
      <ng-template matStepLabel>{{langService.getLang(eModulo.Cites, 'lbl-vista-previa-cite' )}}</ng-template>




      <h1 class="alinear-columna-centro">{{descripcionTipoDocumento}}</h1>
      <p class="alinear-columna-centro"><strong>CITE</strong>: <em>aqui viene mi citeeeeee </em></p>

      <table border="1" cellpadding="1" cellspacing="1" class="tabla-centro">
        <tbody>

          <tr>
            <td class="alinear-columna-derecha"><strong>A :</strong></td>
            <td>
              <div *ngFor="let destinatario of listaDestinatarios">
                {{destinatario.nombreCompleto}}
                <div class="columna-cargo-vista-previa">
                  {{destinatario.cargo}}
                </div>
                <br/>
              </div>
            </td>
          </tr>

          <tr *ngIf="listaVias?.length > 0">
            <td class="alinear-columna-derecha"><strong>Via :</strong></td>
            <td>
              <div *ngFor="let via of listaVias">
                {{via.nombreCompleto}}
                <div class="columna-cargo-vista-previa">
                  {{via.cargo}}
                </div>
                <br>
              </div>
            </td>
          </tr>

          <tr>
            <td class="alinear-columna-derecha"><strong>De :</strong></td>
            <td>
              <div *ngFor="let remitente of listaRemitentes">
                {{remitente.nombreCompleto}}
                <div class="columna-cargo-vista-previa">
                  {{remitente.cargo}}
                </div>
                <br>
              </div>
            </td>
          </tr>

          <tr>
            <td class="alinear-columna-derecha"><strong>REFERENCIA :</strong></td>
            <td>
              {{formCrearCite.controls['referencia'].value}}
            </td>
          </tr>
          <tr>
            <td class="alinear-columna-derecha"><strong>FECHA :</strong></td>
            <td>
              {{fechaCreacionCiteLiteral}}
            </td>
          </tr>
        </tbody>
      </table>






      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlexFill>
        <button mat-raised-button color="primary" disabled="{{formCrearCite.invalid || contextService.isLoading}}" matStepperPrevious>{{langService.getLang(eModulo.Cites, 'lbl-atras' )}}</button>
        <button mat-raised-button color="primary" disabled="{{formCrearCite.invalid || contextService.isLoading}}" matStepperNext>{{langService.getLang(eModulo.Cites, 'lbl-siguiente' )}}</button>
      </div>



    </mat-step>

    <!-- Finalizacion de creación de cite -->
    <mat-step>
      <ng-template matStepLabel>{{langService.getLang(eModulo.Cites, 'lbl-confirmar-creacion-cite' )}}</ng-template>

      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center center" fxFlex="15" >
            <mat-icon [inline]="true" style="font-size: 50px !important" color="primary">help_outline</mat-icon>
        </div>
        <span style="font-size: 20px; text-align: center">{{langService.getLang(eModulo.Cites, 'lbl-confirmacion-finalizar-creacion-cite' )}}</span>
      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <span style="font-size: 15px; text-align: center">{{langService.getLang(eModulo.Cites, 'msg-descarga-cite' )}}</span>
      </div>
      <br>
      <br>
      <br>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlexFill>
        <button mat-raised-button color="primary" matStepperPrevious>{{langService.getLang(eModulo.Cites, 'lbl-atras' )}}</button>
        <!-- <button mat-raised-button color="primary" (click)="stepper.reset()">{{langService.getLang(eModulo.Cites, 'lbl-reiniciar-creacion-cite' )}}</button> -->
        <div fxLayout="row" fxLayoutAlign="center center" fxFlex >
          <button mat-raised-button color="accent" (click)="onGenerateCiteTemplate()">{{langService.getLang(eModulo.Cites, 'lbl-finalizar-cite-confirmacion' )}}</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>



</mat-card-content>
</mat-dialog-content>
</mat-card>
