<shared-loader-spinner></shared-loader-spinner>

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar color="primary">
      <!-- <h3>{{ langService.getLang(eModulo.HojaDeRuta, 'tit-adm-hoja-de-ruta') }}</h3> -->

      <a mat-button routerLink="/menu/index" matTooltip="{{ langService.getLang(eModulo.Base, 'tit-volver') }}">
        <mat-icon>keyboard_backspace</mat-icon>
      </a>
      <h3>{{ langService.getLang(eModulo.Base, 'tit-ventana-hoja-de-ruta') }}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.HojaDeRuta, 'btn-crear-nueva-hoja-ruta') }}" (click)="crearHojadeRuta()">
          <mat-icon>add_circle</mat-icon>
      </a>
      <span class="flex-spacer"></span>
      <a mat-button routerLink="/menu" matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
          <mat-icon>close</mat-icon>
      </a>

  </mat-toolbar>
</mat-card-header>

<mat-card-content>

  <div *ngIf="listaBandeja?.length > 0; else tablaSinData">
    <sh-data-table-hoja-de-ruta [listaBandejaHojaRuta]="listaBandeja" [bandeja]="valorBandejaSelected"> </sh-data-table-hoja-de-ruta>
  </div>
  <ng-template #tablaSinData> <shared-table-empty [datasource]="dataSource"></shared-table-empty> </ng-template>

</mat-card-content>
</mat-card>

