<shared-loader-spinner></shared-loader-spinner>

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar color="primary">
      <!-- <h3>{{ langService.getLang(eModulo.HojaDeRuta, 'tit-adm-hoja-de-ruta') }}</h3> -->

      <a mat-button routerLink="/menu/index" matTooltip="{{ langService.getLang(eModulo.Base, 'tit-volver') }}">
        <mat-icon>keyboard_backspace</mat-icon>
      </a>
      <h3>{{ langService.getLang(eModulo.Base, 'tit-ventana-hoja-de-ruta') }}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.HojaDeRuta, 'btn-crear-nueva-hoja-ruta') }}" (click)="adjuntarDocumento()">
          <mat-icon>add_circle</mat-icon>
      </a>
      <span class="flex-spacer"></span>
      <a mat-button routerLink="/menu" matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
          <mat-icon>close</mat-icon>
      </a>

  </mat-toolbar>
</mat-card-header>

<mat-card-content>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="tipoRemitente">
      <mat-header-cell *matHeaderCellDef fxFlex="7" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="7"> {{element.tipoRemitente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombreRemitente">
      <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-nombre-remitente') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15"> {{element.nombreRemitente}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tipoDocumento">
      <mat-header-cell *matHeaderCellDef fxFlex="8" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-documento') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="8"> {{element.tipoDocumento}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="numeroCite">
      <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-numero-cite') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="10"> {{element.numeroCite}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="destinatarios" >
      <mat-header-cell *matHeaderCellDef fxFlex="20"  mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatarios') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="20" > {{element.destinatarios}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="referencia" >
      <mat-header-cell *matHeaderCellDef fxFlex="15"  mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-referencia') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="15" > {{element.referencia}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estado" >
      <mat-header-cell *matHeaderCellDef fxFlex="5"  mat-sort-header> {{ langService.getLang(eModulo.HojaDeRuta, 'lbl-estado') }} </mat-header-cell>
      <mat-cell *matCellDef="let element" fxFlex="5" > {{element.estado}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> {{ langService.getLang(eModulo.Base, 'lbl-acciones') }} </mat-header-cell>
      <mat-cell *matCellDef="let element;  let i = index;" fxFlex="10" fxLayoutAlign="center center">
        <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-editar') }}"  (click)="onEdit(element)">
          <mat-icon>mode_edit</mat-icon>
        </a>
        <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-enviar') }}"  (click)="onEnviarHojaRuta(element)">
          <mat-icon>send</mat-icon>
        </a>
        <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-imprimir-hoja-ruta') }}" (click)="onPrintHojaRuta(element)">
          <mat-icon>print</mat-icon>
        </a>
      </mat-cell>
    </ng-container>
    <!---------------------->
    <!--
    <div class="container-fluid top-space" style="background: #FFECB3">
      <h2>Elemento padre</h2>
      <p>
          {{datoComunicarPadre}}
      </p>

      <app-hijo-dos (eventoComunicar)="realizaComunicacionHijo($event)"></app-hijo-dos>
      <br/>
    </div>
    -->
    <!---------------------->

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row shRowHover [ngClass]="{'row-action': idSeleccionado === row.idHojaRutaModel}" [@fadeInAnim]="true" *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>
      <!--
    <mat-tab-group dynamicHeight >
      <mat-tab label="{{langService.getLang(eModulo.HojaDeRuta, 'lbl-recibidos' )}}">
        Recibidos
      </mat-tab>
      <mat-tab label="{{langService.getLang(eModulo.HojaDeRuta, 'lbl-pendientes' )}}">
        pendientesssssssss
      </mat-tab>
      <mat-tab label="{{langService.getLang(eModulo.HojaDeRuta, 'lbl-en-proceso' )}}">
        En procesossssssss
      </mat-tab>
      <mat-tab label="{{langService.getLang(eModulo.HojaDeRuta, 'lbl-finalizados' )}}">
        Finalizadossssssss
      </mat-tab>
    </mat-tab-group>
  -->
  </mat-card-content>
</mat-card>

