<shared-loader-spinner></shared-loader-spinner>

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
      <h3>{{ langService.getLang(eModulo.Estudiante, 'tit-nueva-solicitud-readmision') }}</h3>
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}" (click)="onClose()">
          <mat-icon>close</mat-icon>
      </a>
  </mat-toolbar>
</mat-card-header>

<mat-dialog-content>
<mat-card-content>

  <mat-horizontal-stepper labelPosition="bottom" #stepper >

    <mat-step>
      <ng-template matStepLabel>{{langService.getLang(eModulo.Estudiante, 'lbl-datos-estudiante' )}}</ng-template>

      <sh-datos-estudiante [datoEstudiante]="datoEstudiante"></sh-datos-estudiante>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlexFill>
        <button mat-raised-button color="primary" matStepperNext>{{langService.getLang(eModulo.Cites, 'lbl-siguiente' )}}</button>
      </div>
    </mat-step>

    <mat-step [stepControl]="formReadmision">
      <ng-template matStepLabel>{{langService.getLang(eModulo.Estudiante, 'lbl-motivo-gestiones' )}}</ng-template>

      <form [formGroup]="formReadmision" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>

        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFill>
            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-select formControlName="idSuspencionSelected" (selectionChange)="onSuspencionSelectedChange($event)" placeholder="{{langService.getLang(eModulo.Estudiante,'lbl-tiempo-suspencion-solicitado')}}">
                   <mat-option *ngFor="let suspencion of listaSuspenciones" [value]="suspencion.idSuspencion">
                     {{suspencion.fechaInicial | date : 'dd-mm-yyyy' }} &nbsp; al &nbsp; {{suspencion.fechaFinal | date : 'dd-mm-yyyy' }}
                   </mat-option>
                 </mat-select>
                 <mat-error *ngIf="formReadmision.controls['idSuspencionSelected'].invalid">{{langService.getLang(eModulo.HojaDeRuta,'lbl-tiempo-suspencion-solicitado-error') }}</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <input type="text" required matInput min="5" max="200" minlength="5" maxlength="200" autocomplete="off"
                  placeholder="{{langService.getLang(eModulo.Estudiante,'lbl-motivo-readmision')}}" formControlName="motivo">
                  <mat-label>&nbsp; {{langService.getLang(eModulo.Estudiante,'lbl-motivo-readmision')}} </mat-label>
                <mat-error *ngIf="formReadmision.controls['motivo'].invalid">{{langService.getLang(eModulo.Estudiante,'lbl-motivo-readmision-error') }}</mat-error>
              </mat-form-field>
            </div>

          </div>


          <!-- <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <mat-form-field fxFlex>
              <mat-label>Breve descripcion :</mat-label>
              <input type="text" min="0" max="250" minlength="1" maxlength="250" autocomplete="off" matInput required
                placeholder="{{langService.getLang(eModulo.Estudiante,'lbl-descripcion-suspencion')}}" formControlName="motivo">
              <mat-error *ngIf="formReadmision.controls['motivo'].invalid">{{langService.getLang(eModulo.HojaDeRuta,'lbl-descripcion-suspencion-error') }}</mat-error>
            </mat-form-field>
          </div> -->




          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start center" fxLayoutGap="20px" fxFlexFill>
            <button mat-raised-button color="primary" disabled="{{formReadmision.invalid || contextService.isLoading}}" matStepperPrevious>{{langService.getLang(eModulo.Cites, 'lbl-atras' )}}</button>
            <button mat-raised-button color="primary" disabled="{{formReadmision.invalid || contextService.isLoading}}" matStepperNext>{{langService.getLang(eModulo.Cites, 'lbl-siguiente' )}}</button>
          </div>
        </div>

      </form>
    </mat-step>


    <!-- Finalizacion -->
    <mat-step>
      <ng-template matStepLabel>{{langService.getLang(eModulo.Cites, 'lbl-confirmar-creacion-cite' )}}</ng-template>

      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

        <table>
          <tr>
            <td style="text-align: end;"><span><strong>Carrera : </strong></span></td>
            <td><span>&nbsp;{{this.datoEstudiante.carrera}}</span></td>
          </tr>

          <tr>
            <td style="text-align: end;"><span><strong>{{langService.getLang(eModulo.Estudiante,'lbl-seleccion-suspencion')}}</strong></span></td>
            <td><span>&nbsp;{{this.rangoLiteralSeleccionado}}</span></td>
          </tr>

          <tr>
            <td style="text-align: end;"><span><strong>{{langService.getLang(eModulo.Estudiante,'lbl-motivo-readmision')}}</strong></span></td>
            <td><span>&nbsp;{{formReadmision.controls['motivo'].value}}</span></td>
          </tr>

        </table>

      </div>

      <div fxLayout="row" fxLayoutAlign="center center">
        <span style="font-size: 15px; text-align: center">&nbsp;</span>
        <br>
        <br>
        <br>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlexFill>
        <button mat-raised-button color="primary" matStepperPrevious>{{langService.getLang(eModulo.Cites, 'lbl-atras' )}}</button>

        <div fxLayout="row" fxLayoutAlign="center center" fxFlex >
          <button mat-raised-button color="accent" (click)="onFinalizarSolicitud()">{{langService.getLang(eModulo.Base, 'lbl-finalizar' )}}</button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>



</mat-card-content>
</mat-dialog-content>
</mat-card>
