<shared-loader-spinner></shared-loader-spinner>

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar color="primary">
      <a mat-button routerLink="/menu" matTooltip="{{ langService.getLang(eModulo.Base, 'tit-volver') }}">
        <mat-icon>keyboard_backspace</mat-icon>
      </a>
      {{ langService.getLang(eModulo.Usuario, 'tit-lista-usurios' ) }}
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-actualizar') }}" (click)="getListaUsuarios()">
        <mat-icon>refresh</mat-icon>
      </a>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Tramite, 'tit-nueva-habilitacion') }}" (click)="onAddEditusuario()">
          <mat-icon>add_circle</mat-icon>
      </a>
  </mat-toolbar>
</mat-card-header>

<mat-card-content>

<!--   <mat-form-field fxFlexFill appearance="outline">
    <span matPrefix><mat-icon>search</mat-icon>&nbsp;</span>
    <mat-label>{{this.langService.getLang(eModulo.Base, 'lbl-busqueda' )}} por ru</mat-label>
    <input matInput formControlName="busquedaRU"  shAutofocus shUppercase required minlength="5" maxlength="7" #input>
  </mat-form-field> -->

  <mat-form-field fxFill appearance="outline">
    <span matPrefix><mat-icon>search</mat-icon>&nbsp;</span>
    <mat-label>Búsqueda</mat-label>
    <input matInput (keyup)="aplicarFiltro($event)" placeholder="" #input autocomplete="off">
  </mat-form-field>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nickName">
        <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.Usuario, 'lbl-nick-name') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="15"> {{element.nickName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="paterno">
        <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.Usuario, 'lbl-paterno') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="15"> {{element.paterno}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="materno">
        <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.Usuario, 'lbl-materno') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="15"> {{element.materno}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombres">
        <mat-header-cell *matHeaderCellDef fxFlex="15" mat-sort-header> {{ langService.getLang(eModulo.Usuario, 'lbl-nombres') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="15"> {{element.nombres}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="perfil" >
        <mat-header-cell *matHeaderCellDef fxFlex="20"  mat-sort-header> {{ langService.getLang(eModulo.Usuario, 'lbl-perfil') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="20" > {{element.nombrePerfil}} &nbsp; </mat-cell>
      </ng-container>

      <ng-container matColumnDef="carrera" >
        <mat-header-cell *matHeaderCellDef fxFlex="20"  mat-sort-header> {{ langService.getLang(eModulo.Usuario, 'lbl-carrera') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="20" > {{element.carrera}} &nbsp; </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado" >
        <mat-header-cell *matHeaderCellDef fxFlex="10"  mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-estado') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10" > {{element.estado | estadoToLiteral}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> {{ langService.getLang(eModulo.Base, 'lbl-acciones') }} </mat-header-cell>
        <mat-cell *matCellDef="let element;" fxFlex="10" fxLayoutAlign="center center">
          <a mat-icon-button (click)="onAddEditusuario(element)" matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-editar') }}">
            <mat-icon>edit</mat-icon>
          </a>
          <a mat-icon-button *ngIf="element.idPerfil != 4" matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-eliminar') }}" (click)="onDeleteUsuario(element)">
            <mat-icon>delete_forever</mat-icon>
          </a>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row
        shRowHover
        [ngClass]="{'row-action': idSeleccionado === row.idUsuario}"
        [@fadeInAnim]="true"
        *matRowDef="let row; columns: displayedColumns;">
      </mat-row>

    </mat-table>
    <shared-table-empty [datasource]="dataSource"></shared-table-empty>
    <mat-paginator #paginator [pageSize]="config.paginatorSize" [pageSizeOptions]="config.paginatorOptions" [showFirstLastButtons]="true"></mat-paginator>

  </mat-card-content>
</mat-card>
