<div class="alt-theme">
    <mat-toolbar color="primary">
        <h3>{{ langService.getLang(eModulo.HojaDeRuta, 'tit-ventana-finaliza-tramite') }}</h3>
        <span class="flex-spacer"></span>

    <button mat-button mat-dialog-close matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}" (click)="onClose()">
        <mat-icon>close</mat-icon>
    </button>

    </mat-toolbar>
</div>

<mat-dialog-content>
    <form [formGroup]="formFinalizar">
        <mat-form-field fxFlexFill>
            <textarea shUppercase matInput placeholder="{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-hoja-de-ruta-referencia-mensaje') }}"
                formControlName="motivo"></textarea>
            <mat-error *ngIf="formFinalizar.controls['motivo'].errors?.required">{{langService.getLang(eModulo.HojaDeRuta,'lbl-hoja-de-ruta-referencia-mensaje')}}</mat-error>
        </mat-form-field>
    </form>
</mat-dialog-content>


<mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
    <button fxFlex mat-raised-button color="accent" (click)="onFinalizar()" [disabled]="!formFinalizar.valid || formFinalizar.pristine || contextService.isLoading">Guardar
    </button>
    <button fxFlex mat-raised-button color="warn" (click)="onClose()">Cancelar
    </button>
</mat-dialog-actions>
