<div class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
    {{ data.title }}
  </mat-toolbar>
</div>

<mat-dialog-content>
  <mat-card-content>

    <form [formGroup]="formRechazarHR" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>


      <div fxLayoutAlign="center center" fxFlex="15">
        <mat-icon [inline]="true" style="font-size: 50px !important" color="primary">{{ data.icon }}</mat-icon>
      </div>
      <div layout=”column”>
        <div>
            <span style="font-size: 20px; text-align: center">{{ data.content }}?</span>
        </div>
        <br>
        <div>
          <mat-form-field fxFlex>
            <input matInput required Alfanumerico shUppercase maxlength="100"
              placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-numero-descripcion')}}"
              formControlName="descripcion">
          </mat-form-field>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-dialog-content>
<mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button fxFlex mat-raised-button color='accent' (click)="save()"
    [disabled]="!this.formRechazarHR.valid || contextService.isLoading"><span>{{
      langService.getLang(eModulo.Base,'btn-si') }}</span></button>

  <button fxFlex mat-raised-button color="warn" [mat-dialog-close]="false"><span>{{
      langService.getLang(eModulo.Base,'btn-no') }}</span></button>
</mat-dialog-actions>
