<div class="alt-theme">
  <mat-toolbar shToolbarModal color="primary">
    <h3>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-crear-hoja-de-ruta') }}</h3>

    <span class=flex-spacer></span>
    <a (click)="onClose()" mat-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
      <mat-icon>close</mat-icon>
    </a>
  </mat-toolbar>
</div>


<mat-dialog-content>
  <mat-card>
    <br>
    <div fxFlexFill>
      <form [formGroup]="formHojaDeRuta" fxLayout="row" fxLayout.lt-sm="column" fxFlexFill>

        <div fxLayout="column" fxLayoutAlign="space-around center" fxFlexFill>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-tipo-tramite' )}} : </mat-label>
                <mat-select formControlName="tipoTramite" required placeholder="Seleccione">
                  <mat-option *ngFor="let tipoTramite of listaTipoTramite" [value]="tipoTramite.idTipoTramite">
                    {{tipoTramite.descripcionTipoTramite}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formHojaDeRuta.controls['tipoTramite'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-tipo-tramite') }}</mat-error>
              </mat-form-field>
            </div>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-remitente' )}} :</mat-label>
                <mat-select formControlName="listaRemitentes" required placeholder="Seleccione">
                  <mat-option *ngFor="let remitente of listaRemitentes" [value]="remitente.idRemitente">
                    {{remitente.descripcionRemitente}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formHojaDeRuta.controls['listaRemitentes'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-remitente') }}</mat-error>
              </mat-form-field>
            </div>

          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
              <mat-form-field fxFlex>
                <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-destinatario' )}} : </mat-label>
                <mat-select formControlName="listaDestinatarios" required placeholder="Seleccione">
                  <mat-option *ngFor="let destinatario of listaDestinatarios" [value]="destinatario.idDestinatario">
                    {{destinatario.descripcionDestinatario}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formHojaDeRuta.controls['listaDestinatarios'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-destinatario') }}</mat-error>
              </mat-form-field>
            </div>

            <div  fxLayout="row" fxLayoutAlign="center center" fxFlex="49">
            <mat-form-field fxFlex>
              <mat-label>{{langService.getLang(eModulo.HojaDeRuta, 'lbl-cc' )}} : </mat-label>
              <mat-select formControlName="listaCC">
                <mat-option *ngFor="let cc of listaCC" [value]="cc.idCC">
                  {{cc.descripcionCC}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="formHojaDeRuta.controls['listaCC'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-cc') }}</mat-error>
            </mat-form-field>
            </div>
          </div>


          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <mat-form-field fxFlex>
                <input
                  matInput
                  required
                  shUppercase
                  maxlength="100"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-numero-cite')}}"
                  formControlName="numeroCite">
              <mat-error *ngIf="formHojaDeRuta.controls['numeroCite'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-numero-cite') }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <input
                  matInput
                  required
                  Alfanumerico
                  shUppercase
                  maxlength="100"
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-referencia')}}"
                  formControlName="referencia">
              <mat-error *ngIf="formHojaDeRuta.controls['referencia'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-referencia') }}</mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
            <mat-form-field fxFlex>
                <input
                  type="number"
                  autocomplete="off"
                  matInput
                  required
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-numero-fojas')}}"
                  formControlName="numeroFojas">
              <mat-error *ngIf="formHojaDeRuta.controls['numeroFojas'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-numero-fojas') }}</mat-error>
            </mat-form-field>

            <mat-form-field fxFlex>
                <input
                  type="number"
                  autocomplete="off"
                  matInput
                  required
                  placeholder="{{langService.getLang(eModulo.HojaDeRuta,'lbl-plazo-dias')}}"
                  formControlName="plazoDias">
              <mat-error *ngIf="formHojaDeRuta.controls['plazoDias'].invalid">{{ langService.getLang(eModulo.HojaDeRuta,'lbl-error-plazo-dias') }}</mat-error>
            </mat-form-field>

          </div>

          <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>

            <mat-checkbox formControlName="isUrgente" [labelPosition]="'before'">
              {{langService.getLang(eModulo.HojaDeRuta,'lbl-urgente')}}
            </mat-checkbox>

            <mat-checkbox  formControlName="isConCopiaFisica" [labelPosition]="'before'">
              {{langService.getLang(eModulo.HojaDeRuta,'lbl-copia-fisica')}}
            </mat-checkbox>
          </div>

        </div> <!-- Fin layoru principal -->

      </form>
    </div>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions>
  <!-- Botones-->
  <div fxLayout="row" fxLayoutAlign="space-evenly none" fxFlexFill>
    <button
      mat-raised-button
      color="accent"
      fxFlex="50"
      (click)="onGuardarHojaDeRuta()"
      disabled="{{formHojaDeRuta.invalid || contextService.isLoading}}">
      {{ langService.getLang(eModulo.Base, 'lbl-guardar') }}
    </button>
    <button mat-raised-button
      fxFlex="50"
      color="warn"
      (click)="onClose()">
      {{ langService.getLang(eModulo.Base,'btn-no') }}
    </button>
  </div>
</mat-dialog-actions>
