<br />
<br />
<br />
<br />
<br />
<!-- <li>
  <br/>
  <button mat-raised-button fxFlexFill class="button-text-align-left">MIS CITES</button>
</li>
<mat-divider></mat-divider>
<li>
  <br/>
  <button mat-button fxFlexFill class="button-text-align-left">BANDEJA DE HOJAS DE RUTA</button>
</li>
<mat-divider></mat-divider>
<li *ngFor="let item of listaOpcionesBandeja">
  <br />
  <button
    mat-raised-button
    fxFlexFill
    class="button-text-align-right"
    name="buton_{{ item }}"
    (click)="onSelectedButton(item)"
  >
    {{ item }}
  </button>
</li> -->

<mat-nav-list>
  <span *ngFor="let item of listaOpcionesBandeja">
    <span *ngIf="item.children && item.children.length > 0">
      <mat-accordion>
        <mat-expansion-panel [expanded]="true" >
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="space-between center" >
              <!-- Cabeceras del submenu -->
              <div fxLayout="row" fxLayoutAlign="space-between center" >
                <mat-icon>{{item.icono}}</mat-icon>
                &nbsp;&nbsp; {{item.displayName}}
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngFor="let child of item.children">
              <mat-list-item fxLayout="column" fxLayoutAlign="center center" (click)="onSelectedButton(child)" >
                <mat-icon [class.active]="selected" matListIcon>{{child.icono}}</mat-icon>
                <a matLine>{{child.displayName}}</a>
              </mat-list-item>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
    </span>
    <span *ngIf="!item.children || item.children.length === 0">
      <mat-list-item routerLink="[item.route]">
        <!-- Entradas principales -->
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <mat-icon>{{item.icono}}</mat-icon>
          {{item.displayName}}
        </div>
      </mat-list-item>
    </span>
  </span>
</mat-nav-list>
