  <form [formGroup]="formAutocomplete"fxFlexFill>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="20px" fxFlexFill>
      <mat-form-field fxFlexFill>
        <mat-label>{{placeHolder}}</mat-label>
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let item of listaSeleccionados"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(item)">
            {{item.nombreCompleto}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Nuevo integrante"
            #input
            formControlName="autoCompleteData"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [disabled]="listaSeleccionados?.length >= cantidadPermitida"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes">
            <!-- (matChipInputTokenEnd)="add($event)"> -->
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let itemFiltrado of listaFiltrada | async" [value]="itemFiltrado">
              <span class="additional-selection">
                {{itemFiltrado.nombreCompleto}}
                <div class="mat-option-cargo">
                  {{itemFiltrado.cargo}}
                </div>
              </span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <mat-error *ngIf="formAutocomplete.controls['autoCompleteData'].invalid">{{matLabelError}}</mat-error>
      <!-- <mat-error *ngIf="listaSeleccionados?.length > cantidadPermitida">{{langService.getLang(eModulo.Base, 'lbl-error-supero-cantidad-maxima-permitida' ).replace('$cantidadUsuario', this.cantidadPermitida)}}</mat-error> -->
  </form>
