<mat-card>
  <!-- <mat-card-header class="alt-theme">
    <mat-toolbar color="primary">
      <h3>{{ langService.getLang(eModulo.Base, 'lbl-menu-principal') }}</h3>
    </mat-toolbar>
  </mat-card-header>
 -->
  <mat-card-content>

    <span [ngSwitch]="valorCapturado.toUpperCase()">
    <p *ngSwitchCase="'Creadas'.toUpperCase()">
      <app-bandeja-cites></app-bandeja-cites>
    </p>
    <p *ngSwitchCase="'Busqueda'.toUpperCase()">
      <sh-busqueda-avanzada></sh-busqueda-avanzada>
    </p>
    <p *ngSwitchDefault>
      Aqui viene un contenido de la opcion seleccionada :  {{valorCapturado.toUpperCase()}}

      <!-- <app-bandeja-hojas-de-ruta [valorBandejaSelected]="valorCapturado" ></app-bandeja-hojas-de-ruta> -->
    </p>
    </span>


  </mat-card-content>
</mat-card>
