<mat-card>
  <!-- <mat-card-header class="alt-theme">
    <mat-toolbar color="primary">
      <h3>{{ langService.getLang(eModulo.Base, 'lbl-menu-principal') }}</h3>
    </mat-toolbar>
  </mat-card-header>
 -->
  <mat-card-content>
    <span [ngSwitch]="valorCapturado">
    <p *ngSwitchCase="'Creadas'">
      <app-bandeja-cites></app-bandeja-cites>
    </p>
    <p *ngSwitchCase="'Principal'">
      <app-bandeja-hojas-de-ruta></app-bandeja-hojas-de-ruta>
    </p>
    <p *ngSwitchCase="'Recibido'">

    </p>
    <p *ngSwitchCase="'Enviado'">

    </p>
    <p *ngSwitchCase="'Pendiente'">

    </p>
    <p *ngSwitchCase="'Proceso'">
    </p>

    <p *ngSwitchCase="'Finalizado'">

    </p>
    <p *ngSwitchDefault>

    </p>
    </span>


  </mat-card-content>
</mat-card>

<h3>{{valorCapturado}}</h3>





