<div class="alt-theme">
  <mat-toolbar color="primary">
      <h3>{{ langService.getLang(eModulo.HojaDeRuta, 'tit-dlg-adjuntar-documento') }}</h3>
      <span class="flex-spacer"></span>
      <button mat-button mat-dialog-close matTooltip="{{ langService.getLang(eModulo.Base, 'btn-cerrar') }}">
          <mat-icon>close</mat-icon>
      </button>
  </mat-toolbar>
</div>

<mat-dialog-content>
  <mat-card>
    <mat-card-content>

      <form [formGroup]="formAdjuntarDocumento">
          <mat-form-field fxFlexFill>
              <!-- <textarea shUppercase shAutofocus matInput placeholder="{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-comentario-adjuntar-documento') }}"
                  formControlName="comentario"></textarea> -->
              <input shUppercase matInput placeholder="{{ langService.getLang(eModulo.HojaDeRuta, 'lbl-comentario-adjuntar-documento') }}"
                  formControlName="comentario">
              <mat-error *ngIf="formAdjuntarDocumento.controls['comentario'].errors?.required">{{langService.getLang(eModulo.HojaDeRuta,'lbl-error-comentario-adjuntar-documento')}}</mat-error>
          </mat-form-field>
      </form>

      <sh-documento-adjunto [saveDocumentoAdjuntos]="saveDocumentoAdjuntos"></sh-documento-adjunto>

    </mat-card-content>
  </mat-card>
</mat-dialog-content>

<mat-dialog-actions fxLayout="row" fxLayoutGap="20px">
  <button fxFlex mat-raised-button color="accent" (click)="onGuardarDocumentoAdjunto()" [disabled]="!this.formAdjuntarDocumento.valid || contextService.isLoading">
    {{langService.getLang(eModulo.Base, 'lbl-guardar' )}}
  </button>
  <button fxFlex mat-raised-button color="warn" (click)="onCancelar()">
    {{langService.getLang(eModulo.Base, 'btnCancel' )}}
  </button>
</mat-dialog-actions>
