    <shared-loader-spinner></shared-loader-spinner>

    <mat-card>
      <mat-card-header class="alt-theme">
      <mat-toolbar color="primary">
          {{ langService.getLang(eModulo.Cites, 'tit-toolbar-cites-cradas') }}
          <span class="flex-spacer"></span>
          <a mat-button matTooltip="{{ langService.getLang(eModulo.Cites, 'btn-crear-nuevo-cite') }}" (click)="onCrearNuevoCite()">
              <mat-icon>add_circle</mat-icon>
          </a>
      </mat-toolbar>
    </mat-card-header>

    <mat-card-content>

        <mat-table #table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="tipoDestinatario">
            <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.Cites, 'lbl-tipo-destinatario-cite') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10"> {{element.tipoDestinatario}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="tipoDocumento">
            <mat-header-cell *matHeaderCellDef fxFlex="10" mat-sort-header> {{ langService.getLang(eModulo.Cites, 'lbl-tipo-documento') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="10"> {{element.tipoDocumento}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="numeroCite" >
            <mat-header-cell *matHeaderCellDef fxFlex="15"  mat-sort-header> {{ langService.getLang(eModulo.Cites, 'lbl-nro-cite') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="15" > {{element.numeroCite}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="destinatario" >
            <mat-header-cell *matHeaderCellDef fxFlex="35"  mat-sort-header> {{ langService.getLang(eModulo.Cites, 'lbl-destinatarios') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="35" >
              <span *ngFor="let item of element.destinatarios">
                <div fxLayout="column" fxLayoutAlign=" stretch" *ngIf="item.destinatarios !== ''" >
                  <!-- {{ (item.destinatarios !== '' ) ? item.destinatario : '' }} -->
                  {{item.destinatario}}
                  <div class="mat-option-cargo">
                    {{item.cargo}}
                  </div>
                </div>
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="referencia" >
            <mat-header-cell *matHeaderCellDef fxFlex="35"  mat-sort-header> {{ langService.getLang(eModulo.Cites, 'lbl-referencia') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="35" > &nbsp;&nbsp;{{element.referencia}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fechaCreacion" >
            <mat-header-cell *matHeaderCellDef fxFlex="6"  mat-sort-header> {{ langService.getLang(eModulo.Cites, 'lbl-fecha-creacion') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="6" > {{element.fechaCreacion | date : 'dd/MM/yyyy' }} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="estado" >
            <mat-header-cell *matHeaderCellDef fxFlex="6"  mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-estado') }} </mat-header-cell>
            <mat-cell *matCellDef="let element" fxFlex="7" >

              <div *ngIf="showMouseOverActions && element.isRowMouseOver" fxLayout="row" fxLayoutAlign="start center">
                <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-editar') }}" (click)="onEdit(element)" >
                  <mat-icon>mode_edit</mat-icon>
                </a>

                <div *ngIf="element.poseeDocAdjunto;else subirDocumento">
                  <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-generar-hoja-ruta') }}" (click)="onGenerateHojaRuta(element)"   >
                    <mat-icon>file_copy</mat-icon>
                  </a>
                </div>

                <ng-template #subirDocumento>
                  <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'btn-subir-nuevo-ducumento') }}" (click)="onUploadArchivo(element)"   >
                    <mat-icon>cloud_upload</mat-icon>
                  </a>
                </ng-template>

                <!-- <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-imprimir-hoja-ruta') }}" (click)="onPrintHojaRuta(element)" >
                  <mat-icon>print</mat-icon>
                </a> -->
              </div>

              <div *ngIf="!element.isRowMouseOver">
                {{element.estado}}
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

          <mat-row
            shRowHover
            [ngClass]="{'row-action': idSeleccionado === row.idCite}"
            [@fadeInAnim]="true"
            *matRowDef="let row; columns: displayedColumns;"
            (mouseover)="onMouseOver(row)"
            (mouseleave)="onMouseLeave(row)">
          </mat-row>


        </mat-table>
        <shared-table-empty [datasource]="dataSource"></shared-table-empty>
    <mat-paginator #paginator [pageSize]="config.paginatorSize" [pageSizeOptions]="config.paginatorOptions" [showFirstLastButtons]="true"></mat-paginator>



    <!-- <div  fxLayout="row" fxLayoutAlign="start center">
      <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-editar') }}" (click)="onEdit(row)" >
        <mat-icon>mode_edit</mat-icon>
      </a>
      <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-generar-hoja-ruta') }}" (click)="onGenerateHojaRuta(row)"   >
        <mat-icon>file_copy</mat-icon>
      </a>
      <a  mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-imprimir-hoja-ruta') }}" (click)="onPrintHojaRuta(row)" >
        <mat-icon>print</mat-icon>
      </a>
    </div> -->


      </mat-card-content>
    </mat-card>
