<shared-loader-spinner></shared-loader-spinner>

<mat-card>
  <mat-card-header class="alt-theme">
  <mat-toolbar color="primary">
      <a mat-button routerLink="/menu" matTooltip="{{ langService.getLang(eModulo.Base, 'tit-volver') }}">
        <mat-icon>keyboard_backspace</mat-icon>
      </a>
      {{ langService.getLang(eModulo.Estudiante,'tit-lista-anulaciones') }}
      <span class="flex-spacer"></span>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Estudiante, 'tit-nueva-solicitud') }}" (click)="actualizarBandeja()">
          <mat-icon>refresh</mat-icon>
      </a>
      <a mat-button matTooltip="{{ langService.getLang(eModulo.Estudiante, 'tit-nueva-solicitud') }}" (click)="onNuevaSolicitud()" *ngIf="this.isTramiteHabilitado && !this.existenTramitesEnCurso">
          <mat-icon>add_circle</mat-icon>
      </a>
  </mat-toolbar>
</mat-card-header>

<mat-card-content>

    <mat-table #table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="carrera">
        <mat-header-cell *matHeaderCellDef fxFlex="30" mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-carrera') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="30"> {{element.carrera}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="fechaSolicitud" >
        <mat-header-cell *matHeaderCellDef fxFlex="10"  mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-fecha-solicitud') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="10" > {{element.fechaSolicitud | date : 'dd/MM/yyyy' }} &nbsp; </mat-cell>
      </ng-container>

      <ng-container matColumnDef="motivo">
        <mat-header-cell *matHeaderCellDef fxFlex="45" mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-motivo') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="45"> {{element.motivo}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="estado" >
        <mat-header-cell *matHeaderCellDef fxFlex="15"  mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-estado') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="15" > {{element.estado }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="entidadDestino" >
        <mat-header-cell *matHeaderCellDef fxFlex="20"  mat-sort-header> {{ langService.getLang(eModulo.Base, 'lbl-entidad-destino') }} </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="20" > {{element.entidad }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef fxFlex="10" fxLayoutAlign="center center"> {{ langService.getLang(eModulo.Base, 'lbl-acciones') }} </mat-header-cell>
        <mat-cell *matCellDef="let element;" fxFlex="10" fxLayoutAlign="center center">
          <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-imprimir') }}" *ngIf="(element.idEstado !== eEstado.RECHAZADO && element.idEstado !== eEstado.FINALIZADO)" (click)="imprimirFormulario(element)">
            <mat-icon>print</mat-icon>
          </a>
          <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-ver-seguimiento') }}" (click)="onVerSeguimiento(element)">
            <mat-icon>visibility</mat-icon>
          </a>
          <!-- <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-editar') }}">
            <mat-icon>edit</mat-icon>
          </a>
          <a mat-icon-button matTooltip="{{ langService.getLang(eModulo.Base, 'lbl-eliminar') }}" >
            <mat-icon>delete_forever</mat-icon>
          </a> -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

      <mat-row
        shRowHover
        [ngClass]="{'row-action': idSeleccionado === row.idAnulacion}"
        [@fadeInAnim]="true"
        *matRowDef="let row; columns: displayedColumns;">
      </mat-row>

    </mat-table>
    <shared-table-empty [datasource]="dataSource"></shared-table-empty>
    <mat-paginator #paginator [pageSize]="config.paginatorSize" [pageSizeOptions]="config.paginatorOptions" [showFirstLastButtons]="true"></mat-paginator>

  </mat-card-content>
</mat-card>
